.side-menu-bar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.side-menu-top-icon-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
    align-items: center;
}

.side-menu-bottom-icon-container {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.side-menu-button-icon {
  border: none;
  background: none;
  width: 40px;
  height: 40px;
}
